form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-wrap: wrap;
    background-image: url(./o.jpg);
    background-size: cover;
}
img
{
  border-radius: 3px;
}
div{
    margin: 10px;
}
.m{
    background-color:lightgray;
}

@media screen and (max-width:680px)
{
  
    form{
 
        background-image: url(./p.jpg);
        background-size: cover;
    }
    .page{
        flex-basis: 100%;
        font-size: 1.25rem;
        text-align: center;
    }
}

